.ads {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;

}

.ads img {
  width: 100%;
  height: auto;
  display: block;
}

.ads .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  width: 32px;
  height: 32px;

  border: none;

  font-size: 1rem;
  cursor: default;

  color: blue;
}
