  aside{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--bg-color);
  }

  .extras {
    display: flex;
    gap: 1rem;

    position: relative;
    overflow: hidden;
  }

  .extras .tag {

  }
  
  .extras img{
    width: 96px;
    height: 96px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .extras .card-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.extras h3{
  font: var(--h3);
  color: var(--text-color-primary);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}