* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #cbd5e1;

  --font-family: 'Archivo', sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 16px/160% var(--font-family);

  .section-header h2 {
    font: 700 20px/125% var(--font-family);
    color: var(--text-color-primary);
    max-width: 80%;
  }
}

img {
  max-width: 100%;
}

