header {
  background: var(--bg-color);
}

.primary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem;
      
}

.logo {
  font: var(--h1);
  color: var(--brand-color-light);
}

.label {
  display: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--stroke-color);
}

.secondary {
  display: flex;
  gap: 1rem;

  overflow-x: auto;
  white-space: none;

  padding: 0.75rem 1rem;

}



.secondary::-webkit-scrollbar {
  display: none;
}

.secondary a{
  flex-shrink: 0;

  font: var(--text-span);
  color: var(--text-color-secondary);
  text-decoration: none;
}

.primary .left,
.primary .action-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.primary img {
  width: 20px;
  height: 20px;
  display: block;
}



@media (min-width:1024px) {
  .secondary {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .label {
    display: inline;
    font: var(--text-span);
    color: var(--text-color-secondary);

  }

  .primary { 
    display: flex;
    align-items: center;
    gap: 0.5rem;

  }
}