header {
  background: var(--bg-color);
}

.primary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem;
      
}

.logo {
  font: var(--h1);
  color: var(--brand-color-light);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--stroke-color);
}

.secondary {
  display: flex;
  gap: 1rem;

  overflow-x: auto;
  white-space: none;

  padding: 0.75rem 1rem;

}

.secondary::-webkit-scrollbar {
  display: none;
}

.secondary a{
  flex-shrink: 0;

  font: var(--text-span);
  color: var(--text-color-secondary);
  text-decoration: none;
}