main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--bg-color);
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 0.30rem;

}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-content {
  position: static;

  width: 100%;
  padding: 0.75rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;


}

.card-overlay .card-content{
  position: absolute;
  bottom: 0;
  left: 0;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.7),
    transparent
  );
}

.card-featured h2 {
  font: var(--h2);
  color: var(--text-color-primary);

  display: -webkit-box;
  -webkit-line-clamp: 3;      
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card h3 {
  font: var(--h3);
  color: var(--text-color-primary);
}

.tag {
  font: var(--text-span);
  color: var(--text-color-primary);

  background-color: var(--brand-color-dark);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;

  width: fit-content;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;

  padding-top: 0.75rem;
  border-top: 1px solid var(--stroke-color);
}
.section-header a {
  font: var(--text-span);
  color: var(--text-color-secondary);
  text-decoration: none;

  white-space: nowrap;
}

.most-read {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.most-read .news .card h2 {
  font: var(--h2);
  color: var(--text-color-primary);

  display: -webkit-box;
  -webkit-line-clamp: 3;      
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.most-read .card{
  position: relative;
}

.most-read .card .tag {
  position: absolute;
  top: 0.75rem;
  z-index: 1;
}

.card-list {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.card-list img {
  width: 88px;
  height: 88px;
  object-fit: cover;
  flex-shrink: 0;

}

.card-list .card-content {
  position: static;
  padding: 0;
  background: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-list h3{
  font: var(--h2);
  color: var(--text-color-primary);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-list p{
  font: var(--text-sm);
  color: var(--text-color-secondary);

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.most-read .card-list .card-content {
  padding-top: 3rem;
}

@media (min-width: 1024px) {

  .hero {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    margin-top: 30px;
    /* background: red; */
  }


#featured {
  /* border: solid red 4px; */
  height: 100%;
}

#featured .card {
  height: 100%;
}

  .hero > .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .divider-two {
    margin-top: 2rem;
  }

  .most-read > .news {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .most-read > .news .card {
    flex: 1;
  }

  .most-read > .news .card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

 .ai-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
 }

  .grid-area {

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
    margin-top: 32px;
  }

  .card-list img {
    width: 176px;
    height: 176px;
    object-fit: cover;
  }

  a:hover {
    color: var(--brand-color-dark);
  }

  a {
  transition: color 0.2s ease;
}
}
